<h1>My Profile</h1>
<div class="profile-box">
  <img src="{{req.user.profilePicture}}">
  <div class="profile">
    <div class="info">
        {{#each users}}
        {{#each this.teams}}
      <h3>{{this.name}}</h3>
      {{/each}}
      {{/each}}
      <form>
        <p>Developers</p>
        <input type="submit" value="Leave Team">
      </form>
    </div>
    <div class="more-info">
      <h3>My Projects</h3>
      <p>You have no projects!</p>
    </div>
  </div>
</div>